/Workshop-I/data/test
/Workshop-I/data/train
/Workshop-I/code/HuPMap
/Workshop-I/code/venv
/Workshop_2_Design/code/venv
/Workshop_2_Design/code/__pycache__
/Simulation/venv
/Simulation/__pycache__
/Simulation/simulation_log.csv